.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-card img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    
  }
  